/# Get the number of rows for the triangl.py
/.venv
/.vscode
/a=[].py
/attempt1.py
/build_faiss_index.py
/check1.py
/embedding res.py
/embeddings.npy
/embedings.npy
/faiss_index.bin
/hello
/hellocpp.cpp
/hellocpp.exe
/helloworld.cpp
/helloworld.exe
/import client.py
/import socket.py
/import sys.py
/linked list practice.py
/MMS.py
/OIP.jpeg
/processed_data.csv
/recomend.py
/Untitled-1.cpp
/Untitled-1.exe
/Zomato Chennai Listing 2020.csv
/__pycache__